<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>Login Form</header>
    <nav>
        <ul>
            {% for receipt in receipt_list %}
                {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">Main Page</a>
            </li>
                {% else %}
            <li>
                <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <main>
        <h1>"Login"</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button>Login</button>
            </form>
    </main>
</body>
</body>
</html>