<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<header>Signup Form</header>
</head>
<body>
    
    <nav>
        <ul>
            {% for receipt in receipt_list %}
                {% if request.user.is_authenticated %}
                Hello, {{ user.username }}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
                {% else %}
            <li>
                <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <main>
        <div>
        <h1>"Signup"</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button>Signup</button>
            </form>
        </div>
    </main>
</body>
</html>